.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 3.75rem;
}

.content {
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
}

.requestBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.exerciseForm {
  background: rgba(32, 177, 255, 0.5);
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  max-width: 50rem;  /* adjust as needed */
  margin: auto;
  margin-bottom: 1rem;
}

.inputContainer {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* adjust this to control the spacing between items */
}

.inputLabel {
  font-size: 14px;  /* adjust as needed */
  color: #555;
}
.h1Text{
  color: white;
  margin-right: 0.3rem;
}
.inputBox {
  margin-top: 5px;
  width: 100px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.exerciseBtn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(32,177, 255);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px; 
  width: 50px;
  height: 50px;
}

.exerciseBtn:hover {
  background-color: white;
  color: rgb(32,177, 255);
  border: 1px solid rgb(32,177, 255);
}
